{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "standard",
    "plugin:jsx-control-statements/recommended"
  ],
  "parserOptions": {
    "ecmaversion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react",
    "promise",
    "jsx-control-statements"
  ],
  "settings": {
    "react": {
      "version": "16.5"
    }
  },
  "rules": {
    "no-console": [2, {"allow": ["warn", "error"]}],
    "indent": [2, 2],
    "comma-dangle": [2, "never"],
    "linebreak-style": [2, "unix"],
    "quotes": [2, "single"],
    "semi": [2, "never"],
    "no-extra-semi": 2,
    "space-before-function-paren": ["error", "never"],
    "react/jsx-no-literals": 2,
    "react/jsx-no-undef": [2, { "allowGlobals": true }],
    "promise/always-return": 2,
    "promise/no-return-wrap": 2,
    "promise/param-names": 2
  }
}
