.container {
  max-width: 1500px;
  padding: 40px;
  margin: 0 auto;
}

.name {
  margin: 10px 0 15px;
  line-height: 50px;
  font-size: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}

.loading {
  font-size: 28px;
  padding: 100px 0;
  text-align: center;
}

.fourofour {
  font-size: 404px;
  text-align: center;
}

.contact a {
  color: #0366d6;
}

.contact a:hover {
  text-decoration: underline;
}
