.resultListContainer,
.tags,
.pagination,
.searchInputs {
  margin: 0 auto;
  max-width: 1200px;
}

.pagination {
  max-width: 1000px;
}

.searchForm {
  padding: 20px;
  background: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
}

.searchInputs {
  display: flex;
  flex-direction: row;
}

.searchString {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  width: 70%;
  height: 45px;
  padding: 0 10px;
  outline: none;
}

.searchCategory {
  margin-left: 5px;
  width: 30%;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
}

.searchCategory select {
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  border-radius: 0;
  outline: none;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  color: #888;
}

.resultListContainer {
}

.resultList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resultItem {
  font-size: 22px;
  padding: 0px;
  border-bottom: 1px solid #EFEFEF;
}

.resultItem a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 20px;
}

.resultItem a:hover {
  background: #EEEEEE;
}

.loading {
  font-size: 28px;
  padding: 100px 0;
  text-align: center;
}

.pagination {
  padding: 60px;
  text-align: center;
}

.page {
  margin: 5px;
  background: #BA68C8;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #FFFFFF;
  line-height: 30px;
  cursor: pointer;
}

.page.active {
  background: #DDDDDD;
  color: #616161;
}

.page:hover {
  background: #AB47BC;
}

.page.active:hover {
  background: #DDDDDD;
}

.tags {
  text-align: right;
  width: 30%;
}

.searchForm .tags {
  text-align: left;
  padding: 20px 0 0;
  width: 100%;
}

.searchForm .tags span {
  cursor: pointer;
}

.searchForm .tags span:hover,
.searchForm .tags span.active {
  background: #AAAAAA;
  color: #FFFFFF;
}

.tags span {
  margin: 4px;
  padding: 6px 0;
  font-size: 16px;
  background-color: rgba(27,31,35,0.05);
  border-radius: 6px;
  color: #616161;
}

.tags span::before, .tags span::after {
  content: '\00a0\00a0';
}

.resultItemName {
  width: 70%;
}

.resultItemBody {
  display: flex;
  flex-direction: row;
}


@media (max-width: 1000px) {
  .resultItemBody {
    display: block;
  }

  .tags, .resultItemName {
    width: 100%;
  }

  .resultItemBody .tags {
    margin-top: 15px;
    text-align: left;
  }
}

.orgTags {
  composes: tags;
  margin: 0 0 35px;
  text-align: left;
}
