* {
  box-sizing: border-box;
}

.question {
  margin: 40px 0 20px;
  text-align: center;
  color: #616161;
  font-size: 26px;
}

.choices {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 980px;
}

.choice {
  margin: 20px;
  width: 300px;
  height: 300px;
}

.choiceLink {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  height: 300px;
  width: 300px;
  background : #BA68C8;
  color: #ffffff;
  border: 0;
  font-size: 28px;
  outline: none;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.choiceLink:hover {
  background: #AB47BC;
}

.choiceLink span {
  display: block;
  font-size: 18px;
}

@media (max-width: 980px) {
  .choices {
    flex-direction: column;
    width: 440px;
  }

  .choice {
    height: 150px;
    width: 400px;
  }

  .choiceLink {
    height: 150px;
    width: 400px;
  }
}
