.formElements {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  line-height: 45px;

  font-size: 21px;
  font-family: 'Raleway', sans-serif;

  outline: none;
}

.search {
  composes: formElements;
}

.categories {
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
}

.categoriesSelect {
  composes: formElements;

  border: 0;
  border-radius: 0;

  background: transparent;
  color: #888;
}

.loading {
  padding: 0;
  text-align: center;
  font-size: 22pt;
  color: #616161;
}
